.loader {
  opacity: 0.0;
  pointer-events: none;
  background: var(--main-bg-color-transparent-50);
  backdrop-filter: blur(10px);
  transition: opacity 0.1s ease-out;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader.active {
  opacity: 1.0;
  pointer-events: all;
  user-select: none;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid var(--main-fg-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}