.logEntry {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid #25313f;
  margin-bottom: 16px;
}

.time {
  font-size: 12px;
  color: #6a7889;
}

.images {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.images img {
  width: 100%;
  border: 1px solid var(--main-fg-color);
  border-radius: 8px;
  overflow: hidden;
}

.textContent {

}